*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    height:100vh;
    width: 100vw;
    background: linear-gradient(130deg,#153677,#4e085f);
}

.todo-app{
    position: absolute;
    left: 30%;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
}
h2{
    text-align: center;
    font-weight: 840;
    padding: 20px;
    color: blue;
}

input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    background: transparent;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
}
ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 32px;
    width: 40px;
    border-radius: 50%;
    background-image: url("unchecked_circle.png");
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 2px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked_circle.svg);
    height: 24px;
    width: 24px;
    top: 12px;
    left: 11px;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    line-height: 38px;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
}